.CarsPage {
  min-height: 576px;
  background-color: #e0ffff;
  padding: 0 50px 22px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CarsPage .loading {
  position: absolute;
  left: 700px;
  top: 300px;
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.filtersDiv {
  width: 600px;
  height: 70px;
  margin-top: 15px;
  background-color: #48d1cc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
}

.searchDiv input {
  margin-right: 10px;
  padding-right: 5px;
  height: 25px;
  width: 200px;
}

.searchDiv button {
  margin: 0px 10px;
  padding: 0px 5px;
  height: 25px;
}

.dropDownMenu {
  width: 90px;
  height: 25px;
}

.cardsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carCard {
  padding: 10px;
  background-color: #48d1cc;
  width: 300px;
  height: 230px;
  margin-right: 20px;
  border-radius: 8px;
  margin-top: 50px;
}
.carName {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.carCardList {
  margin-top: 15px;
  margin-right: 5px;
  list-style: none;
  text-decoration: none;
  padding: 5px;
}
.carCardList li {
  padding: 5px;
  font-weight: 400;
  font-size: 16px;
}
.carCard .carName {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
}

.forbiddenContainer {
  display: grid;
  place-items: center;
}

.forbiddenContainer p {
  font-size: 22px;
}
